* {
  font-family: 'Press Start 2P', cursive;
}
body {
  padding: 0;
  margin: 0;
  background: #060e1b;
  overflow: hidden;
}

.score {
  position: absolute;
  top: 100px;
  left: 15%;
  z-index: 1000;
  color: #fff;
  font-size: 2em;
}

.play {
  position: absolute;
  top: 47%;
  left: 46%;
  cursor: pointer;
  font-size: 2em;
  text-align: center;
  border: 1px solid white;
  width: 120px;
  height: 50px;
  color: #fff;
}